/* Estilos raíz */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto mono', monospace;
}

.home_body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid_container {
    max-width: 980px;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.icons_container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #006E90;
}

.icons_container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
    color: #FBFFFB;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav__logo_container {
    margin-left: 50px;
}

nav .nav__logo_container img {
    width: 220px;
    margin-top: 10px;
}

nav .nav__profile_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .nav__profile_container a {
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}

.home_main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1483478550801-ceba5fe50e8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80s');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home_main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}

.home__main_text {
    font-family: 'Roboto mono', monospace;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    text-shadow: 5px 1px 10px rgb(57, 57, 57);
}

.home__main_button {
    margin-top: 100px;
    font-size: 1.5rem;
    background-color: white;
    color: black;
    padding: 10px;
    padding-top: 10px 15px;
    border: 1px solid #48CFAD;
    border-radius:10px;
    font-weight: bold;
    transition: all 0.5s ease-out;
}

.home__main_button:hover {
	border: 1px solid white;
	color: white;
	background-color: #48CFAD;
}

/* Blogs-page */

.blogs_main {
    display: grid;
}

.blogs_news_container {
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}

.blogs__main_featured {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs__main_featured h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin-left: 40px;
}

.blogs__featured_img_container {
    grid-column: 1;
}

.blogs__featured_img_container img {
    width: 85%;
}

.blogs__featured_img_container figcaption {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1.2rem;
    font-weight: 200;
    font-style: italic;
}

.blogs_featured__info_container {
    grid-column: 2;
}

.blogs_featured__info_container p {
    margin-bottom: 35px;
}

.blogs__posts_container {
    padding: 0 50px 40px;
}

.blogs__posts_container h3 {
    text-align: center;
}

.blogs_button {
    border: 1px solid #47cfac;
    padding: 10px 15px;
    font-size: 1.2rem;
    transition: all 0.5s ease-out;
}

.blogs_button:hover {
	border: 1px solid white;
	color: white;
	background-color: #48CFAD;
}

.blogs__posts_container {
    padding: 0 50px 40px;
    text-align: center;
}

.blogs__posts_container .post_container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
    text-align: left;
    
}

.blogs__posts_container .post_container p {
    margin-bottom: 35px;
}

.blogs__posts_container .post_container img {
    width: 100%;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 40px solid #006E90;
    text-align: center;
}

footer p {
    color: white;
    margin-top: 30px;
}